body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:rgb(1, 87, 5);
}
.card {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:260px;
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.5);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.cardLabel {
    font-size: 80px;
    display: block;
    text-align: center;
    color: black;
}

.card .topleft {
        position: absolute;
        top: -50px;
        left: 10px;
        font-size: 20px;
        vertical-align: middle;
}

/* ------------ THE CARDS -----------*/

.heart, .diamond{
    color: red;
}

.heart::before {
    font-size: 120px;
    content: "\2665"
}

.diamond::before {
    font-size: 120px;
    content: "\2666"
}

.spade, .club {
    color: black;
}
.spade::before {
    font-size: 120px;
    content: "\2660"
}
.club::before {
    font-size: 120px;
    content: "\2663"
}

/*----------------------------------*/

.card .bottomright {
    position: absolute;
    bottom: -30px;
    right: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.card .box span {
    display:inline-flex;
}